@use "src/styles/mixins.scss" as *;
@use "src/styles/sizes.scss" as *;
@use "src/styles/breakpoints.scss" as *;
@use "src/styles/colors.scss" as *;

:host {
  .solution-page {
    @include flex(column, flex-start, flex-start, null, 40px);
    max-width: $max-content-width-mobile;

    &__buttons {
      @include flex(row, flex-start, flex-start, null, 12px);
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: $mobile) {
    .solution-page {
      max-width: $max-content-width-mobile;
      padding-bottom: 71px;

      &__buttons {
        min-width: calc(100dvw - (2 * $content-padding-mobile));
        max-width: calc(100dvw - (2 * $content-padding-mobile));
        background-color: $color-black-25;
        backdrop-filter: blur(25px);
        padding: $content-padding-mobile;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        * {
          width: 100%;
        }
      }
    }
  }
}
