$color-black-90: rgba(18, 18, 18, 0.9);
$color-black-25: rgba(18, 18, 18, 0.25);
$color-black-10: rgba(18, 18, 18, 0.1);

$color-white-10: rgba(255, 255, 255, 0.1);
$color-whitesmoke: whitesmoke;
$color-white-default: #ffffff;

$color-red-primary: #dc3636;
$color-red-secondary: #d40000;
$color-red-additional: #e47272;
$color-red-light: #f2b6b6;
$color-red-grey: #ccc;
