$color-black-90: rgba(18, 18, 18, 0.9);
$color-black-25: rgba(18, 18, 18, 0.25);
$color-black-10: rgba(18, 18, 18, 0.1);

$color-white-10: rgba(255, 255, 255, 0.1);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-90: rgba(255, 255, 255, 0.9);
$color-whitesmoke: whitesmoke;
$color-white-default: #ffffff;
