<div class="header">
  @if (author()?.name) {
    <h2 class="header_author-name">
      {{ author()?.name }}
    </h2>
  }

  @if (author()?.links?.length) {
    <div class="header__links">
      @for (link of author()!.links; track $index) {
        <a
          class="header__links__link"
          [matTooltip]="link.name"
          [target]="link.target"
          [href]="link.type === 'link' ? link.href : 'mailto:' + link.href"
        >
          <img
            class="header__links__link_icon"
            [ngSrc]="'/icons/socials/' + link.icon + '.svg'"
            [alt]="link.name"
            [width]="'32'"
            [height]="'32'"
          />
        </a>
      }
    </div>
  }
</div>
