@use "src/styles/mixins.scss" as *;
@use "src/styles/colors.scss" as *;
@use "src/styles/sizes.scss" as *;
@use "src/styles/breakpoints.scss" as *;

:host {
  .welcome-page {
    @include flex(column, flex-start, center, null, 60px);
    min-height: $min-content-height;
    &__test-task {
      @include flex(column, flex-start, flex-start, null, $content-padding);
      &_name {
        color: white;
        font-size: 50px;
      }
      &_title {
        width: calc($content-width * 0.7);
        max-width: $max-content-width;
        color: $color-white-90;
      }
    }

    &__buttons {
      @include flex(row, flex-start, flex-start, null, 12px);
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: $mobile) {
    .welcome-page {
      min-height: calc(100dvh - 96px - 176px);
    padding-bottom: 176px;
      gap: 40px;
      &__test-task {
        gap: $content-padding-mobile;
        &_name {
          font-size: 32px;
        }
        &_title {
          max-width: $max-content-width-mobile;
          font-size: 16px;
        }
      }
      &__buttons {
        background-color: $color-black-25;
        backdrop-filter: blur(25px);
        padding: $content-padding-mobile;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        * {
          width: 100%;
        }
      }
    }
  }
}
