@if (text()) {
  <button
    class="button {{ 'button-' + type() }}"
    (click)="buttonClicked.emit()"
  >
    @if (link()) {
      @switch (linkType()) {
        @case ("internal") {
          <a class="button_link" [routerLink]="[link()]">{{
            text()! | translate
          }}</a>
        }
        @case ("external") {
          <a class="button_link" [href]="[link()]" [target]="target()">{{
            text()! | translate
          }}</a>
        }
      }
    } @else {
      <span class="button_link">{{ text()! | translate }}</span>
    }
  </button>
}
