@use "src/styles/mixins.scss" as *;
@use "src/styles/sizes.scss" as *;
@use "src/styles/breakpoints.scss" as *;
@use "src/styles/colors.scss" as *;

:host {
  .task-page {
    @include flex(column, flex-start, flex-start, null, 40px);
    max-width: $max-content-width;
    &__content {
      @include flex(column, null, null, null, 40px);
      &__text {
        font-size: 18px;
        max-width: 100%;
        word-break: break-word;
        color: $color-white-90;
      }
    }
    &__buttons {
      @include flex(row, flex-start, flex-start, null, 12px);
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: $mobile) {
    .task-page {
      max-width: $max-content-width-mobile;
      &__content {
        gap: 12px;
        &__text {
          font-size: 14px;
        }
      }
      &__buttons {
        min-width: calc(100dvw - (2 * $content-padding-mobile));
        max-width: calc(100dvw - (2 * $content-padding-mobile));
        * {
          width: 100%;
        }
      }
    }
  }
}
