<div class="deadlines">
  <p class="deadlines_row">
    <span
      ><span>{{ "ESTIMATIONS.TASK_ASSIGNED_AT" | translate }}</span
      >: </span
    ><span>{{ task()!.taskAssignedAt | date }}</span>
  </p>
  <p class="deadlines_row">
    <span
      ><span>{{ "ESTIMATIONS.DEADLINE" | translate }}</span
      >: </span
    ><span>{{
      task()!.taskAssignedAt | addDurationDate: task()!.completionTime | date
    }}</span>
  </p>
  <p class="deadlines_row">
    <span
      ><span>{{ "ESTIMATIONS.COMPLETION_TIME" | translate }}</span
      >: </span
    ><span>{{ task()!.completionTime | translatePlural: "DAYS" }}</span>
  </p>
  <div class="deadlines_divider"></div>
  <p class="deadlines_row">
    <span
      ><span>{{ "ESTIMATIONS.COMPLETED_AT" | translate }}</span
      >: </span
    ><span>{{ solution()!.completedAt | date }}</span>
  </p>
  <p class="deadlines_row">
    <span
      ><span>{{ "ESTIMATIONS.ACTUAL_SPENT_TIME" | translate }}</span
      >: </span
    ><span>{{
      solution()!.completedAt
        | diffDate: task()!.taskAssignedAt
        | translatePlural: "DAYS"
    }}</span>
  </p>
</div>
