@use "@angular/material" as mat;
@use "src/styles/font-faces.scss" as *;
@use "src/styles/colors.scss" as *;

html {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$orange-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: rgb(75, 0, 0);
  background: linear-gradient(
    145deg,
    rgba(75, 0, 0, 1) 0%,
    rgba(52, 13, 13, 1) 10%,
    rgba(40, 36, 36, 1) 30%
  );
  background-color: rgba(40, 36, 36, 1);
  background-attachment: fixed;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100dvh;
  min-width: 100dvw;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", serif;
  color: white;
}

@include mat.tooltip-overrides(
  (
    container-color: $color-black-25,
    supporting-text-color: $color-white-default,
  )
);

a {
  color: white;
  text-decoration: none;
  &:active {
    text-decoration: none;
    color: white;
  }
}

a,
button {
  :hover {
    cursor: pointer;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::selection {
  background: $color-white-90;
  color: $color-black-25;
}
