@use "../../../../styles/mixins" as *;
@use "../../../../styles/sizes" as *;
@use "../../../../styles/breakpoints" as *;

:host {
  .test-task-description {
    @include flex(column, flex-start, flex-start, null, 40px);
    max-width: $max-content-width;
    &__top {
      @include flex(row, center, flex-start, null, $content-padding);
    }
    &__text {
      font-size: 18px;
      max-width: 100%;
      word-break: break-word;
    }
  }

  @media screen and (max-width: $mobile) {
    .test-task-description {
      max-width: $max-content-width-mobile;
      &__top {
        gap: $content-padding-mobile;
        &_title {
          font-size: 20px;
        }
      }
      &__text {
        font-size: 14px;
      }
    }
  }
}
