<div class="test-task-description">
  <div class="test-task-description__top">
    <app-back-button
      [link]="'/'"
      class="test-task-description__top_back-button"
    ></app-back-button>
    <h1 class="test-task-description__top_title">
      {{
        "TEST_TASK_DESCRIPTION.TITLE"
          | translate: { testTaskTitle: testTaskDescription()?.title }
      }}
    </h1>
  </div>
  <div class="test-task-description__text">
    @for (sentence of testTaskDescription()?.text; track $index) {
      <p>{{ sentence }}</p>
      <br />
    }
  </div>

  <a mat-stroked-button [routerLink]="'/solution'">{{
    "INTRO.BUTTONS.SOLUTION" | translate
  }}</a>
</div>
